<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Creating a bean for alien class through xml configuration. -->
<!--bean id="alien" class="com.springcore.spring1.Alien" scope="singleton" ___For one bean-->
<!--bean id="alien" class="com.springcore.spring1.Alien" scope="prototype"__/bean--><!-- For multiple beans-->

<bean id="alien" class="com.springcore.spring1.Alien">
	<property name="age" value="10"></property>
	<!-- For all the objects and variables know as beans can be called as properties and for primitive data 
	types we assign them with value attribute.-->
</bean>
</beans>
